name: "Flake Check"
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          # This will allow the action to use the substituters defined in your flake.nix
          extra_nix_config: |
            accept-flake-config = true

      - name: Setup Nix Cache
        uses: nix-community/cache-nix-action@v7
        with:
          # Use a unique key for the cache
          primary-key: nix-cache-${{ runner.os }}-${{ hashFiles('flake.lock') }}
          restore_prefixes_first_match: nix-cache-${{ runner.os }}-
          gc-max-store-size-linux: 1G

      - name: Check flake
        run: nix flake check
